
*.pper
.Rproj.user/2138C226/pcs/files-pane.pper
.Rproj.user/2138C226/pcs/source-pane.pper
.Rproj.user/2138C226/pcs/windowlayoutstate.pper
.Rproj.user/2138C226/pcs/workbench-pane.pper
.Rproj.user/2138C226/sources/prop/90E8F7F7
.Rproj.user/2138C226/sources/prop/BA731568
.Rproj.user/2138C226/sources/prop/INDEX
.Rproj.user/2138C226/sources/session-50c7f79f/6869CC00
.Rproj.user/2138C226/sources/session-50c7f79f/6869CC00-contents
.Rproj.user/2138C226/sources/session-50c7f79f/7957DE76
.Rproj.user/2138C226/sources/session-50c7f79f/7957DE76-contents
.Rproj.user/2138C226/sources/session-50c7f79f/7B59338C
.Rproj.user/2138C226/sources/session-50c7f79f/7B59338C-contents
.Rproj.user/2138C226/sources/session-50c7f79f/8947D88C
.Rproj.user/2138C226/sources/session-50c7f79f/8947D88C-contents
.Rproj.user/2138C226/sources/session-50c7f79f/C1301710-contents
.Rproj.user/2138C226/sources/session-50c7f79f/DD94D2F5
.Rproj.user/2138C226/sources/session-50c7f79f/DD94D2F5-contents
.Rproj.user/2138C226/sources/session-50c7f79f/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
lib/freehand-mode-1.0.0/freehand-mode.js
lib/htmlwidgets-1.6.4/htmlwidgets.js
lib/layers-control-1.0.0/layers-control.css
lib/mapbox-gl-globe-minimap-1.2.1/bundle.js
lib/mapboxgl-binding-0.1.4/mapboxgl.js
